In [1]:
import pandas as pd

In [2]:
# CMU movies' metadata dataset
movies_meta_df = pd.read_csv('data/movie.metadata.tsv', sep='	')

In [3]:
movies_meta_df.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples)
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science..."
1,3196793,/m/08yl5d,Getting Away with Murder: The JonBenét Ramsey ...,2000-02-16,NaN,95.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/02n4kr"": ""Mystery"", ""/m/03bxz7"": ""Biograp..."
2,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D..."
3,9363483,/m/0285_cd,White Of The Eye,1987,NaN,110.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/01jfsb"": ""Thriller"", ""/m/0glj9q"": ""Erotic..."
4,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}"

In [4]:
# IMDb ratings dataset
imdb_ratings_df = pd.read_csv('data/imdb_title_ratings.tsv', sep='	')

In [5]:
imdb_ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1924
1  tt0000002            5.8       260
2  tt0000003            6.5      1733
3  tt0000004            5.6       174
4  tt0000005            6.2      2545

In [6]:
# IMDb videos' metadata dataset
imdb_names_df = pd.read_csv('data/imdb_title_basics.tsv', sep='	', low_memory=False)

In [7]:
# Only keep audiovisual products labeled as movies
imdb_names_df = imdb_names_df[imdb_names_df['titleType'] == 'movie']

In [8]:
imdb_names_df.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,\N,\N,Drama
672,tt0000679,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"
828,tt0000838,movie,A Cultura do Cacau,A Cultura do Cacau,0,1909,\N,\N,\N
832,tt0000842,movie,De Garraf a Barcelona,De Garraf a Barcelona,0,1909,\N,\N,\N

In [9]:
# Join between IMDb movies' rating and metadata
imdb_ratings_meta = imdb_ratings_df.merge(imdb_names_df, on='tconst', how='inner')

In [10]:
imdb_ratings_meta.head(10)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,5.2,200,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
1,tt0000502,4.2,14,movie,Bohemios,Bohemios,0,1905,\N,100,\N
2,tt0000574,6.0,794,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
3,tt0000591,5.1,20,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
4,tt0000615,4.3,23,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
5,tt0000630,2.9,25,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
6,tt0000675,4.2,19,movie,Don Quijote,Don Quijote,0,1908,\N,\N,Drama
7,tt0000679,5.2,66,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"
8,tt0000862,4.5,16,movie,Faldgruben,Faldgruben,0,1909,\N,\N,\N
9,tt0000886,4.7,38,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,\N,Drama

In [11]:
# Join between CMU and IMDb datasets
ratings_merge = movies_meta_df.merge(imdb_ratings_meta, left_on='Movie name', right_on = 'primaryTitle', how='inner')

In [15]:
print(ratings_merge.shape[0])
print(imdb_ratings_meta.shape[0])
print(movies_meta_df.shape[0])

92523
282557
81741

In [16]:
ratings_merge.head()

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples),tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",tt0228333,4.9,55229,movie,Ghosts of Mars,Ghosts of Mars,0,2001,\N,98,"Action,Horror,Sci-Fi"
1,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",tt0094806,5.7,40,movie,Brun bitter,Brun bitter,0,1988,\N,83,"Crime,Drama"
2,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",tt0083949,6.0,589,movie,A Woman in Flames,Die flambierte Frau,0,1983,\N,106,Drama
3,13696889,/m/03cfc81,The Gangsters,1913-05-29,NaN,35.0,"{""/m/06ppq"": ""Silent film"", ""/m/02h40lc"": ""Eng...","{""/m/09c7w0"": ""United States of America""}","{""/m/02hmvc"": ""Short Film"", ""/m/06ppq"": ""Silen...",tt0139667,5.7,31,movie,The Gangsters,Les truands,0,1957,\N,105,"Comedy,Crime"
4,23070193,/m/064mmt5,The Gangsters,1956,NaN,NaN,"{""/m/064_8sq"": ""French Language""}","{""/m/0f8l9c"": ""France""}","{""/m/05p553"": ""Comedy film""}",tt0139667,5.7,31,movie,The Gangsters,Les truands,0,1957,\N,105,"Comedy,Crime"

In [19]:
# Format movie release date
ratings_merge['Movie release year'] = ratings_merge['Movie release date'].astype(str).str[:4]
ratings_merge = ratings_merge[ratings_merge["Movie release year"].str.contains("nan") == False]
ratings_merge['Movie release year'] = ratings_merge['Movie release year'].apply(lambda x: int(x))

In [20]:
# Filter pairs (obtained by join) by almost same release year (max. difference of two)
ratings_merge = ratings_merge[ratings_merge['startYear'] != '\\N']
ratings_merge['releaseDiff'] = (ratings_merge['Movie release year'].astype(int) - ratings_merge['startYear'].astype(int)).abs()
ratings_merge = ratings_merge[ratings_merge['releaseDiff'] <= 2]

In [21]:
print(ratings_merge.shape[0])

45308

In [24]:
# Filter pairs (obtained by join) by almost same runtime (max. difference of 10% with respect of CMU duration)
ratings_merge = ratings_merge[ratings_merge['runtimeMinutes'] != '\\N']
ratings_merge['Movie runtime'].fillna(-1, inplace=True)

ratings_merge['runtimeDiff'] = (ratings_merge['Movie runtime'].astype(int) - ratings_merge['runtimeMinutes'].astype(int)).abs()
ratings_merge = ratings_merge[ratings_merge['runtimeDiff'] <= ratings_merge['Movie runtime']/10]

In [25]:
print(ratings_merge.shape[0])

34667

In [26]:
ratings_merge.head(10)

,Wikipedia movie ID,Freebase movie ID,Movie name,Movie release date,Movie box office revenue,Movie runtime,Movie languages,Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples),tconst,...,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,Movie release year,releaseDiff,runtimeDiff
0,975900,/m/03vyhn,Ghosts of Mars,2001-08-24,14010832.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...",tt0228333,...,Ghosts of Mars,Ghosts of Mars,0,2001,\N,98,"Action,Horror,Sci-Fi",2001,0,0
1,28463795,/m/0crgdbh,Brun bitter,1988,NaN,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...",tt0094806,...,Brun bitter,Brun bitter,0,1988,\N,83,"Crime,Drama",1988,0,0
2,261236,/m/01mrr1,A Woman in Flames,1983,NaN,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",tt0083949,...,A Woman in Flames,Die flambierte Frau,0,1983,\N,106,Drama,1983,0,0
6,18998739,/m/04jcqvw,The Sorcerer's Apprentice,2002,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...",tt0120166,...,The Sorcerer's Apprentice,The Sorcerer's Apprentice,0,2001,\N,86,"Adventure,Family,Fantasy",2002,1,0
13,12621957,/m/05pdd86,The Sorcerer's Apprentice,2010-07-08,215283742.0,111.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/03k9fj"": ""...",tt0963966,...,The Sorcerer's Apprentice,The Sorcerer's Apprentice,0,2010,\N,109,"Action,Adventure,Family",2010,0,2
14,10408933,/m/02qc0j7,Alexander's Ragtime Band,1938-08-16,3600000.0,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...",tt0029852,...,Alexander's Ragtime Band,Alexander's Ragtime Band,0,1938,\N,106,"Drama,Music,Musical",1938,0,0
16,175026,/m/017n1p,Sarah and Son,1930,NaN,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama"", ""/m/01g6gs"": ""Black-an...",tt0021335,...,Sarah and Son,Sarah and Son,0,1930,\N,86,"Drama,Romance",1930,0,0
17,24229100,/m/07kjkz6,Lady Snowblood 2: Love Song of Vengeance,1974,NaN,89.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...",tt0072157,...,Lady Snowblood 2: Love Song of Vengeance,Shurayukihime: Urami renka,0,1974,\N,89,"Drama,Thriller",1974,0,0
19,171005,/m/016ywb,Henry V,1989-11-08,10161099.0,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...",tt0097499,...,Henry V,Henry V,0,1989,\N,137,"Biography,Drama,History",1989,0,0
22,80493,/m/0ktqc,Henry V,1944,NaN,135.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/04xvh5"": ""Costume drama"", ""/m/0520lz"": ""R...",tt0036910,...,Henry V,The Chronicle History of King Henry the Fifth ...,0,1944,\N,137,"Biography,Drama,History",1944,0,2

In [30]:
# Clean dataframe

ratings_merge = ratings_merge.drop('releaseDiff', axis=1)
ratings_merge = ratings_merge.drop('runtimeDiff', axis=1)
ratings_merge = ratings_merge.drop('endYear', axis=1)
ratings_merge = ratings_merge.drop('Movie name', axis=1)
ratings_merge = ratings_merge.drop('Movie release date', axis=1)
ratings_merge = ratings_merge.drop('runtimeMinutes', axis=1)
ratings_merge = ratings_merge.drop('titleType', axis=1)

ratings_merge = ratings_merge[['Wikipedia movie ID', 'Freebase movie ID', 'tconst', 'primaryTitle', 'originalTitle', 'Movie box office revenue', 'averageRating', 'numVotes', 'Movie runtime', 'Movie languages', 'Movie countries (Freebase ID:name tuples)', 'Movie genres (Freebase ID:name tuples)', 'genres', 'isAdult', 'startYear']]

In [31]:
ratings_merge.head(10)

,Wikipedia movie ID,Freebase movie ID,tconst,primaryTitle,originalTitle,Movie box office revenue,averageRating,numVotes,Movie runtime,Movie languages,Movie countries (Freebase ID:name tuples),Movie genres (Freebase ID:name tuples),genres,isAdult,startYear
0,975900,/m/03vyhn,tt0228333,Ghosts of Mars,Ghosts of Mars,14010832.0,4.9,55229,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/01jfsb"": ""Thriller"", ""/m/06n90"": ""Science...","Action,Horror,Sci-Fi",0,2001
1,28463795,/m/0crgdbh,tt0094806,Brun bitter,Brun bitter,NaN,5.7,40,83.0,"{""/m/05f_3"": ""Norwegian Language""}","{""/m/05b4w"": ""Norway""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/07s9rl0"": ""D...","Crime,Drama",0,1988
2,261236,/m/01mrr1,tt0083949,A Woman in Flames,Die flambierte Frau,NaN,6.0,589,106.0,"{""/m/04306rv"": ""German Language""}","{""/m/0345h"": ""Germany""}","{""/m/07s9rl0"": ""Drama""}",Drama,0,1983
6,18998739,/m/04jcqvw,tt0120166,The Sorcerer's Apprentice,The Sorcerer's Apprentice,NaN,4.2,605,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/0hzlz"": ""South Africa""}","{""/m/0hqxf"": ""Family Film"", ""/m/01hmnh"": ""Fant...","Adventure,Family,Fantasy",0,2001
13,12621957,/m/05pdd86,tt0963966,The Sorcerer's Apprentice,The Sorcerer's Apprentice,215283742.0,6.1,162916,111.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/06n90"": ""Science Fiction"", ""/m/03k9fj"": ""...","Action,Adventure,Family",0,2010
14,10408933,/m/02qc0j7,tt0029852,Alexander's Ragtime Band,Alexander's Ragtime Band,3600000.0,6.9,2159,106.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/04t36"": ""Musical"", ""/m/01z4y"": ""Comedy"", ...","Drama,Music,Musical",0,1938
16,175026,/m/017n1p,tt0021335,Sarah and Son,Sarah and Son,NaN,5.4,272,86.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}","{""/m/07s9rl0"": ""Drama"", ""/m/01g6gs"": ""Black-an...","Drama,Romance",0,1930
17,24229100,/m/07kjkz6,tt0072157,Lady Snowblood 2: Love Song of Vengeance,Shurayukihime: Urami renka,NaN,6.3,3809,89.0,"{""/m/03_9r"": ""Japanese Language""}","{""/m/03_3d"": ""Japan""}","{""/m/0lsxr"": ""Crime Fiction"", ""/m/01jfsb"": ""Th...","Drama,Thriller",0,1974
19,171005,/m/016ywb,tt0097499,Henry V,Henry V,10161099.0,7.5,30161,137.0,"{""/m/02h40lc"": ""English Language""}","{""/m/07ssc"": ""United Kingdom""}","{""/m/04xvh5"": ""Costume drama"", ""/m/082gq"": ""Wa...","Biography,Drama,History",0,1989
22,80493,/m/0ktqc,tt0036910,Henry V,The Chronicle History of King Henry the Fifth ...,NaN,7.0,6561,135.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America"", ""/m/...","{""/m/04xvh5"": ""Costume drama"", ""/m/0520lz"": ""R...","Biography,Drama,History",0,1944